<nav aria-label="breadcrumb">  
  <ol class="breadcrumb">  
    <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>  
    <li class="breadcrumb-item"><%= link_to 'Glosario', glossary_root_path %></li>  
    <li class="breadcrumb-item"><%= link_to @term.topic.name, glossary_topic_path(@term.topic) %></li>  
    <li class="breadcrumb-item active"><%= @term.name %></li>  
  </ol>  
</nav>
<div class="row">
  <div class="col-md-3 col-xl-2 border-right">
    <nav class="nav nav-pills flex-column">
      <% @term.topic.terms.each do |t| %>
        <%= link_to t.name, glossary_topic_term_path(t.topic, t), class: t == @term ? 'nav-link active' : 'nav-link' %>
      <% end %>
    </nav>
  </div>
  <main class="col-md-9 col-xl-10 pl-md-5">
    <h1 class="display-4"><%= @term.name %></h1>
  </main>
</div>
